#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: monospace;
}

h1 {
  color: #e3fef7;
  border: 5px;
  border-style: double;
  border-radius: 25px;
  background-color: #135d66;
}
